
header p{
    color: #ffffff;
}

.carousel-caption{
    text-shadow: 2px 2px 2px black;
    font-size: 80px;
    color: #ffc107;
}

h1 {
    font-size: 63px;
    color: #ffffff;
}

h2 {
    font-size: 54px;
    color: #303030;
    font-weight: 600; /* Vai de 100 a 900, onde 400 é igual a normal e 700 é negrito */
}
